extends layout

block title
    title index
block link
    link(rel='stylesheet', href='/css/index.css')
block script
    script(src='/js/index.js')
block content
    .wrapper
        .section
            .component
                a.section_name(href="infomg") 信息管理 
        .section
            .component
                a.section_name(href="recommond") 团员推优 
        .section
            .component
                a.section_name(href="feemg") 团费收缴 
        .section
            .component
                a.section_name(href="activity") 团干培训 
        .section
            .component
                a.section_name(href="us") About us 
            
                       





