extends layout

block title
    title ZZB
block link
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/login.css')        
block script
    script(src='/js/index.js')
    script(src='/js/login.js')
block content
    .bgmodal
        .header
            include login
        .wrapper
            .section
                .component
                    a.section_name(href="infomg") 
                        span.fui-windows
                        span.hide 信息管理
            .section
                .component
                    a.section_name(href="recommond") 
                        span.fui-star-2
                        span.hide 团员推优 
            .section
                .component
                    a.section_name(href="feemg") 
                        span.fui-document
                        span.hide 团费收缴 
            .section
                .component
                    a.section_name(href="activity") 
                        span.fui-user
                        span.hide 团干培训 
            .section
                .component
                    a.section_name(href="us") 
                        span.fui-lock
                        span.hide About us 
                
        .footer  
            p 
                a(href='mailto:1342832773@qq.com?subject=欢迎您来信！&body=写下您的建议') contact us         





