extends layout

block title
    title index
block link
    link(rel='stylesheet', href='/css/index.css')
block script
    script(src='/js/index.js')
block content
    .content
        .wrapper
            .section
                .component
                    a.section_name(href="http://www.baidu.com") 信息管理 
            .section
                .component
                    a.section_name(href="http://www.baidu.com") 团员推优 
            .section
                .component
                    a.section_name(href="http://www.baidu.com") 团费收缴 
            .section
                .component
                    a.section_name(href="http://www.baidu.com") 团干培训 

            
                       





