extends layout

block title
    title index
block link
    link(rel='stylesheet', href='/css/index.css')
block script
    script(src='/js/index.js')
block content
    .content
        .wrapper
            //- h1 content block
            .section
                .component
            .section
                .component
            .section
                .component

                //- span.section_name 信息管理 
            //- .section
            //-     //- span.section_name 团员推优 
            //- .section
            //-     //- span.section_name 团费收缴 
            //- .section
            //-     //- span.section_name 团干培训

            
                       





