    
nav.mynav.navbar.navbar-lg(role='navigation')
    .collapse.navbar-collapse
        form.navbar-form.navbar-left(role='form')
            .form-group
                input#uname.form-control(type='text', placeholder='用户名', name='uname', value='') 
                label.form-control-feedback.control-feedback-sm.fui-user(for='uname')
            .form-group
                input#upwd.form-control(type='password', placeholder='密码', name='upwd', value='')
                label.form-control-feedback.control-feedback-sm.fui-lock(for='upwd')
            .form-group
                button.btn.btn-block.btn-md.btn-primary 登录
        ul.nav.navbar-nav.navbar-right
            li 
                a(href='register') 注册账号
