extends ../layout

block title
    title 信息管理
block link
    link(rel='stylesheet', href='/css/info/info.css')
block script
    script(src='/js/info/info.js')
block content
    .wrapper
        .left
            | left
            br
            | left
            br
            | left
            br
            | left
            br
            | left
            br
            | left
            br



