
.wrapper {
    margin: 0px auto;
    max-width: 425px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section {
    margin: 0 7px;
    float: left;
    cursor: pointer;
    opacity: .9;
    transition: all 1s;
}

.section:hover {
    opacity: .6;
}

.section:nth-child(3),
.section:nth-child(4) {
    position: relative;
    left: 85px;
    top: -120px;
}

.component {
    float: left;
    clear: both;
    width: 156px;
    height: 90px;
    background: #000;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    font-size: 27px;
    color: #fff;
    font-weight: 900;
}

a {
    color: #fff;
}

.section:before {
    float: left;
    clear: both;
    content: '';
    width: 0;
    display: inline-block;
    border-top: 45px solid transparent;
    border-bottom: 45px solid #000;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.section:after {
    float: left;
    clear: both;
    content: '';
    width: 0;
    display: inline-block;
    border-top: 45px solid #000;
    border-bottom: 45px solid transparent;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

       

