$section_color: rgba(30, 30, 30, 1);
$section_height: 90px;
$section_width: 1.732 * $section_height;
$section_margin: 20px;
$section_font: rgba(55, 125, 124, 1);

.content {
    padding: $section_height;
    background: url('/images/index_bg.png');
    background-repeat: repeat;
}

.wrapper {
    margin: 0 auto;
    max-width: ($section-width + 2 * $section_margin) * 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.section {
    margin: 0 $section_margin;
    cursor: pointer;
    opacity: .9;
    transition: all 1s;
}

.section:hover {
    opacity: .6;
}

.section:nth-child(4),
.section:nth-child(5) {
    position: relative;
    top: - $section_height * 1.5 + $section_margin * 1.732;
}

.component {
    float: left;
    clear: both;
    width: $section_width;
    height: $section_height;
    background: $section_color;
    display: inline-block;
    text-align: center;
    line-height: $section_height;
    font-size: 27px;
    color: $section_font;
    font-weight: 900;
}

a {
    color: $section_font;
}

.section:before {
    float: left;
    clear: both;
    content: '';
    width: 0;
    display: inline-block;
    border-top: $section_height/2 solid transparent;
    border-bottom: $section_height/2 solid $section_color;
    border-left: $section_width/2 solid transparent;
    border-right: $section_width/2 solid transparent;
}

.section:after {
    float: left;
    clear: both;
    content: '';
    width: 0;
    display: inline-block;
    border-top: $section_height/2 solid $section_color;
    border-bottom: $section_height/2 solid transparent;
    border-left: $section_width/2 solid transparent;
    border-right: $section_width/2 solid transparent;
}

       

